page-slider-image {
  .content{
    background-color: #f0f9f7;
  }
  .slider{
    background-color: #f0f9f7;
    height: 90%;
  }
  .swiper-slide img {
    height: 400px;
    max-height: 400px;
    min-height: 400px;
  }
}
