

<ion-header>

  <ion-navbar>
    <ion-title>
      <img  style="margin: auto;" src="assets/imgs/applogo.png"><br>
            <!--<ion-icon class="search" ios="ios-search" md="md-search" (click)="gotosearch()"></ion-icon>-->
          <span style="margin-left: 50px;">{{ 'Category' | translate}}</span>


 <div class="headdiv">
    <ion-segment [(ngModel)]="showing">
        <ion-segment-button [hidden]="showing == 'grid'" value="grid">
            <ion-icon style="padding-right:3px" ios="ios-grid" md="md-grid"></ion-icon>
        </ion-segment-button>
        <ion-segment-button [hidden]="showing == 'list'" value="list">
            <ion-icon ios="ios-list" md="md-list"></ion-icon>
        </ion-segment-button>
     </ion-segment>
      </div>
    </ion-title>
  </ion-navbar>
    <ion-row class="headrow">
      <ion-col col-4 (click)="gotoall()">
      <ion-icon style="padding-right:3px" ios="ios-grid" md="md-grid"></ion-icon>
      <h6>{{ 'Category' | translate}}</h6><br><span> {{ category_name }}</span>
      </ion-col>
      <ion-col col-4 (click)="sortBy()" style="border-right:1px solid lightgray;border-left:1px solid lightgray;">
        <ion-icon ios="ios-arrow-round-down" md="md-arrow-round-down"></ion-icon>
        <ion-icon ios="ios-arrow-round-up" md="md-arrow-round-up"></ion-icon>
        <h6>{{ 'Sort By' | translate}}</h6><br>
        <span>
          {{(sortType == productService.sortByDESC && MainService.lang == 'ar') ?  'الأعلى سعر' : ''}}
          {{(sortType == productService.sortByDESC && MainService.lang == 'en') ?  'Heighest Price' : ''}}
          {{(sortType == productService.sortByASC && MainService.lang == 'ar') ?  'الأقل سعر' : ''}}
          {{(sortType == productService.sortByASC && MainService.lang == 'en') ?  'Lowest Price' : ''}}
          </span>
      </ion-col>
      <ion-col col-4 (click)="gotohot()">
         <img src="assets/imgs/sort.png "height="12px">
        <h6>{{ 'Hot Offers' | translate}}</h6><br>
      </ion-col>
    </ion-row>

</ion-header>


<ion-content style="margin-top: 41px;">


  <div [ngSwitch]="showing" >
  <ion-list *ngSwitchCase="'grid'">
    <ion-row>
      <ion-col col-6 *ngFor="let product of categoryProducts">
    <div class="contdiv" (click)="viewProduct(product.ProductID)">
       <div class="imagesdiv">
        <!--<img class="leftimg" [style.background]="product.ColorHexa">-->
         <!--<div class="leftimg">{{(MainService.lang == 'ar') ? product.BarndName : product.BarndNameE}}</div>-->
         <img class="imgbrandd"  [src]="product.Logo" >
         <img *ngIf="product.HotOfferID > 0 && MainService.lang == 'en'" class="hot" src="assets/imgs/hot.png">
         <img *ngIf="product.HotOfferID > 0 && MainService.lang == 'ar'" class="hot" src="assets/imgs/hot_ar.png">
       </div>
        <div style="text-align:center;height: 130px;"><img  class="prodimg" [src]="product.Image" height="140px"></div>
        <ion-row>
          <ion-icon *ngFor="let icon of icons(product.Rate); let i = index"
                    style="color:orange" [name]="icon"></ion-icon>
      </ion-row>

      <h4>{{product.product_name}} , {{(MainService.lang == 'ar') ? product.size : product.sizeen}}</h4>
      <h5>{{product.ProductPrice}} {{ 'SAR' | translate}}</h5>
    </div>
    <div class="iconsdiv">
      <ion-icon
        *ngIf="product.CartID == null"
        class="gridicon" >
        <img
          [attr.id]="product.ProductID" #icon style="width: 25px;" src="assets/imgs/cart_off.png"
          (click)="addToCart(product.ProductID , product.SellerID ,icon)">
      </ion-icon>
      <ion-icon
        *ngIf="product.CartID != null" class="gridicon">
        <img
          [attr.id]="product.ProductID" #icon style="width: 25px;" src="assets/imgs/cart_on.png"
          (click)="addToCart(product.ProductID , product.SellerID , icon)">
      </ion-icon>
        <ion-icon
          *ngIf="product.FavoritID == null"
          [attr.id]="product.ProductID"
          #icon
          class="hearticon" ios="ios-heart" md="md-heart" (click)="addToWishList(product.ProductID,icon)"></ion-icon>
      <ion-icon
        *ngIf="product.FavoritID != null"
        [attr.id]="product.ProductID"
        #icon
        style="color: #f01666"
        class="hearticon" ios="ios-heart" md="md-heart" (click)="addToWishList(product.ProductID , icon)"></ion-icon>
    </div>
  </ion-col>
    </ion-row>
</ion-list>


  <ion-list *ngSwitchDefault >
  <ion-card *ngFor="let product of categoryProducts">
    <div class="product" (click)="viewProduct(product.ProductID)">
      <div style="height:35px">
        <!--<img class="leftimg" [style.background]="product.ColorHexa">-->
        <img class="imgbrandd"  [src]="product.Logo" >
        <img *ngIf="product.HotOfferID > 0 && MainService.lang == 'en'" class="hot" src="assets/imgs/hot.png">
        <img *ngIf="product.HotOfferID > 0 && MainService.lang == 'ar'" class="hot" src="assets/imgs/hot_ar.png">
      </div>

       <ion-row style="width:100%">
      <ion-col style="margin-top: -5px;" col-4>
        <img style="height: 86px; width: 85%;" [src]="product.Image" (click)="gotohistory()">
      </ion-col>
      <ion-col style="margin-top: -3px;" col-8>
          <ion-row class="starrow">
              <ion-icon *ngFor="let icon of icons(product.Rate); let i = index" style="color:orange" [name]="icon"></ion-icon>
        </ion-row>
              <h5>{{product.product_name}} , {{(MainService.lang == 'ar') ? product.size : product.sizeen}}</h5>
              <h5>{{product.CategroyName}}
                <span style="color: lightgrey"> {{ category_name }}</span>
              </h5>

      </ion-col>
    </ion-row>
    </div>
    <ion-row>
        <ion-col col-6>
            <h6>{{product.ProductPrice}} {{ 'SAR' | translate}}</h6>
      </ion-col>
      <ion-col col-6 style="text-align: end">
        <ion-icon
          *ngIf="product.CartID == null" class="botticon" >
          <img
            [attr.id]="product.ProductID" #icon style="width: 18px;" src="assets/imgs/cart_off.png"
            (click)="addToCart(product.ProductID , product.SellerID , icon)">
        </ion-icon>
        <ion-icon
          *ngIf="product.CartID != null" class="botticon">
          <img
            [attr.id]="product.ProductID" #icon style="width: 18px;" src="assets/imgs/cart_on.png"
            (click)="addToCart(product.ProductID , product.SellerID , icon)">
        </ion-icon>

          <ion-icon
              *ngIf="product.FavoritID == null"
              [attr.id]="product.ProductID"
              #icon
              style="color:darkgray"
              class="botticon"ios="ios-heart" md="md-heart" (click)="addToWishList(product.ProductID,icon)">
          </ion-icon>
          <ion-icon
              *ngIf="product.FavoritID != null"
              [attr.id]="product.ProductID"
              #icon
              style="color:#f01666" class="botticon"ios="ios-heart" md="md-heart" (click)="addToWishList(product.ProductID,icon)">
           </ion-icon>

      </ion-col>

    </ion-row>


  </ion-card>
  </ion-list>
</div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
