page-wishlist {
  .back-button.show-back-button{
      display: none;
  }

.content{
   background:#f0f9f7;
}
.toolbar-title span {
    padding-right: 30px ;
}
.totalrow{
    padding: 20px;
    height: 150px;
    border-bottom: 1px solid gray;
}


.delete{
    
    color: gray;
    font-size: 1.8em;
}

h4{
    font-weight: normal;
    margin-top: .6rem;
    margin-bottom: 0;
  font-size: inherit;
}
h6{
    margin: 0;
    color: gray;
    font-weight: normal;
}

.stars{
 color: gray;

}

.carticon{
    font-size: 30px;
    margin-top: -10px;
    color: gray;
    
}

.search{
       padding-right: 15px;
       padding-left: 0px;
       float: left;
}

[col-3] ,[col-9]{
    padding: 0 5px ;
}
}
