<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
    <!--<ion-title><ion-icon class="search" ios="ios-search" md="md-search"></ion-icon>-->
    <!-- <span>{{ 'Your Profile' | translate}}</span> -->
      <img  src="assets/imgs/applogo.png">
      </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list *ngIf="customerService.customer == null">
    <ion-item (click)="login()">
      <img src="assets/imgs/profile_edit.png" height="25px">
      <h6>{{'Login' | translate}}</h6>
      <ion-icon style="float:right" name="arrow-forward" item-right></ion-icon>
    </ion-item>
    <ion-item (click)="signUp()">
      <img src="assets/imgs/profile_edit.png" height="25px">
      <h6>{{ 'SignUp' | translate}}</h6>
      <ion-icon style="float:right" name="arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="customerService.customer != null">
    <ion-item (click)="edit()">
          <img src="assets/imgs/profile_edit.png" height="25px">
          <h6>{{ 'Edit Profile' | translate}}</h6>
          <ion-icon style="float:right" name="arrow-forward" item-right></ion-icon>
    </ion-item>
     <!--
     <ion-item >
          <img src="assets/imgs/profile_payment.png" height="25px">
          <h6>Payment</h6>
          <ion-icon style="float:right" name="arrow-forward" item-right></ion-icon>
    </ion-item>
    -->
     <ion-item (click)="history()">
          <img src="assets/imgs/profile_history.png" height="25px">
          <h6>{{ 'History' | translate}}</h6>
          <ion-icon style="float:right" name="arrow-forward" item-right ></ion-icon>
    </ion-item>
    <ion-item (click)="goToMap()">
          <img src="assets/imgs/profile_location.png" height="25px">
          <h6>{{ 'Determine Your Location' | translate}} </h6>
          <ion-icon style="float:right" name="arrow-forward" item-right></ion-icon>
    </ion-item>
     <ion-item (click)="logOut()">
          <img src="assets/imgs/profile_logout.png" height="25px">
          <h6>{{ 'LogOut' | translate}} </h6>
     </ion-item>
  </ion-list>
</ion-content>
<!--
<ion-footer>
  <ion-row class="tabrow">

    <ion-col col-2 class="cen" (click)="openhome()">
      <img src="assets/imgs/tab_bar_home.png">
      <img src="assets/imgs/tab_bar_home_active.png">
      </ion-col>
    <ion-col col-2 class="cen" (click)="opencat()"><img src="assets/imgs/tab_bar_category.png"></ion-col>
    <ion-col col-1></ion-col>
    <ion-col col-2 class="cen" (click)="openfav()"><img src="assets/imgs/tab_bar_heart.png"></ion-col>
    <ion-col col-1></ion-col>
    <ion-col col-2 class="cen" (click)="openpro()"><img src="assets/imgs/tab_bar_profile_active.png"></ion-col>
    <ion-col col-2 class="cen" (click)="opensett()"><img src="assets/imgs/tab_bar_settings.png"></ion-col>

  </ion-row>
</ion-footer>
-->
