<ion-header class="titlespace">
  <ion-navbar>
    <ion-title>
      <!--<span>{{ 'Main' | translate }}</span>-->
      <img  src="assets/imgs/applogo.png">
       <div style="float:right" >
       <!--<ion-icon style="padding-right: 13px;" ios="ios-notifications-outline" md="md-notifications-outline"></ion-icon>-->
       <p class="cartNo">{{ cartNo }}</p>
       <ion-icon (click)="goToCart()">
         <img style="width: 20px;" *ngIf="cartNo == 0" src="assets/imgs/cart_off.png">
         <img style="width: 20px;" *ngIf="cartNo > 0" src="assets/imgs/cart_on.png">
       </ion-icon>
       </div>
    </ion-title>
  </ion-navbar>

  <!--<ion-item class="headitem">-->
<ion-row>


  <ion-col col-9 style="padding:0">
    <ion-searchbar [(ngModel)]="KeyWord" (ionInput)="searchProduct()"  type="text" placeholder="{{ 'Search' | translate}}"> </ion-searchbar></ion-col>
  <ion-col col-3 style="padding:0">
       <div style="text-align: center;background: white;padding-top: 10px;height: 42px;" (click)="scan()">
    <img style="width: 22px;" src="assets/imgs/barcode.png">
       </div>
    </ion-col>
</ion-row>




  <!--</ion-item>-->


</ion-header>

<ion-content>
<div class="imgdiv">
  <ion-slides>
    <ion-slide dir="ltr"
      *ngFor="let image of hotads"
      style="background-size: cover;" [style.background-image]="getBackground(image.Image)"
      (click)="goToHotOffers()">
    </ion-slide>
  </ion-slides>
</div>

<div *ngIf="!showSearch" style="margin-bottom: 50px;">
  <div class="products" *ngFor="let group of groupShow">
     <h6 class="prodh6">{{group.Group.group_name}}</h6>
     <span>{{ 'More' | translate}}</span>
        <ion-scroll direction="y" >
          <div class="infiniteScroll" infinite-scroll [lang]="MainService.lang" (onScrollMethod)="loadNext(group.Group.GroupShowID)">
            <ion-card *ngFor="let product of group.Products">
              <div class="detaildiv" (click)="viewProduct(product.ProductID)">
                <div class="imagesdiv">
                  <!--<img class="leftimg" [style.background]="product.ColorHexa">-->
                  <img class="imgbrand"  [src]="product.Logo" >
                  <!--<div class="leftimg">{{(MainService.lang == 'ar') ? product.BarndName : product.BarndNameE}}</div>-->
                  <img *ngIf="product.HotOfferID > 0 && MainService.lang == 'en'" class="hot" src="assets/imgs/hot.png">
                  <img *ngIf="product.HotOfferID > 0 && MainService.lang == 'ar'" class="hot" src="assets/imgs/hot_ar.png">
                </div>
                <img class="prodimg"  [src]="product.Image" >
                <ion-row class="starrow">
                  <ion-icon *ngFor="let icon of icons(product.Rate); let i = index" style="color:orange" [name]="icon">
                  </ion-icon>
                </ion-row>
                <h4>
                  <marquee *ngIf="MainService.lang == 'en'" direction="left" scrollamount="2">{{product.product_name}} , {{(MainService.lang == 'ar') ? product.size : product.sizeen}}</marquee>
                  <marquee *ngIf="MainService.lang == 'ar'" direction="right" scrollamount="2">{{product.product_name}} , {{(MainService.lang == 'ar') ? product.size : product.sizeen}}</marquee></h4>
                <h5>{{product.ProductPrice}} {{ 'SAR' | translate}}</h5>
              </div>
              <ion-row>
                <ion-col col-3>
                  <ion-icon
                    *ngIf="product.CartID == null" class="cardfoot" >
                    <img [attr.id]="product.ProductID" #icon
                         (click)="addToCart(product.ProductID , product.SellerID , icon)"
                         style="width: 25px;" src="assets/imgs/cart_off.png" >
                  </ion-icon>
                  <ion-icon
                    *ngIf="product.CartID != null" class="cardfoot" >
                    <img [attr.id]="product.ProductID" #icon
                         (click)="addToCart(product.ProductID , product.SellerID , icon)"
                         style="width: 25px;" src="assets/imgs/cart_on.png" >
                  </ion-icon>
                </ion-col>
                <ion-col col-6></ion-col>
                <ion-col col-3>
                  <ion-icon
                    *ngIf="product.FavoritID == null"
                    [attr.id]="product.ProductID"
                    #icon
                    class="cardfoot"
                    ios="ios-heart"  md="md-heart"
                    (click)="addToWishList(product.ProductID,icon)"></ion-icon>
                  <ion-icon
                    *ngIf="product.FavoritID != null"
                    [attr.id]="product.ProductID"
                    #icon
                    class="cardfoot"
                    style="color: crimson"
                    ios="ios-heart"  md="md-heart" (click)="addToWishList(product.ProductID , icon)"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>
        </ion-scroll>
  </div>
</div>

<ion-row *ngIf="showSearch" >
  <ion-row *ngIf="productSearchResult?.length == 0">
    <img style="height: 200px;width: 100%;" src="assets/imgs/new_search.png">
    <button ion-button block class="explore">{{ 'There Is No Items' | translate}}</button>
  </ion-row>
  <ion-col col-6 *ngFor="let product of productSearchResult">
    <div class="contdiv" (click)="viewProduct(product.ProductID)">
      <div style="text-align:center;height:162px"><img class="prodimg1" [src]="product.Image"></div>

      <ion-row class="starrow">
          <ion-icon *ngFor="let icon of icons(product.Rate); let i = index" style="color:orange" [name]="icon"></ion-icon>
      </ion-row>
      <h4>{{product.product_name}} , {{product.size}}</h4>
      <h5>{{product.ProductPrice}} {{ 'SAR' | translate}}</h5>
    </div>
    <div class="iconsdiv">
      <ion-icon
        *ngIf="!checkProductInCart(product.ProductID)"
        class="cardfoot" (click)="addToCart(product.ProductID , product.SellerID)">
        <img [attr.id]="product.ProductID"
             #productsCartIcon
             style="width: 25px;" src="assets/imgs/cart_off.png" >
      </ion-icon>
      <ion-icon
        *ngIf="checkProductInCart(product.ProductID)"
        class="cardfoot" (click)="addToCart(product.ProductID , product.SellerID)">
        <img [attr.id]="product.ProductID"
             #productsCartIcon
             style="width: 25px;" src="assets/imgs/cart_on.png" >
      </ion-icon>
        <ion-icon
          *ngIf="!checkProductInFav(product.ProductID)"
          [attr.id]="product.ProductID"
          #productsIcon
          class="hearticon" ios="ios-heart" md="md-heart" (click)="addToWishList(product.ProductID)"></ion-icon>
        <ion-icon
          *ngIf="checkProductInFav(product.ProductID)"
          [attr.id]="product.ProductID"
          #productsIcon
          style="color: crimson;"
          class="hearticon" ios="ios-heart" md="md-heart" (click)="addToWishList(product.ProductID)"></ion-icon>
    </div>
  </ion-col>
</ion-row>

</ion-content>
<!--
<ion-footer>
  <ion-row class="tabrow">

    <ion-col col-2 class="cen">
      <img src="assets/imgs/tab_bar_home_active.png">
      </ion-col>
    <ion-col col-2 class="cen" (click)="opencat()">
      <img src="assets/imgs/tab_bar_category.png"></ion-col>
    <ion-col col-1></ion-col>
    <ion-col col-2 class="cen" (click)="openfav()"><img src="assets/imgs/tab_bar_heart.png"></ion-col>
    <ion-col col-1></ion-col>
    <ion-col col-2 class="cen" (click)="openpro()"><img src="assets/imgs/tab_bar_profile.png"></ion-col>
    <ion-col col-2 class="cen" (click)="opensett()"><img src="assets/imgs/tab_bar_settings.png"></ion-col>

  </ion-row>
</ion-footer>
-->
