page-settings {
  .back-button.show-back-button{
      display: none;
  }

.content{
   background:#f0f9f7;
}
.search{
       padding-right: 15px;
       padding-left: 0px;
       float: left;
}
.item{
    padding: 10px 0;
    background: #f0f9f7;
    border-bottom: 1px solid lightgray;
    img {
        margin:0 15px;
    }
    h6{
        width: 40%;
        display: inline-block;
        font-size: 20px;
    }
    ion-icon{
          float: right;
          font-size: 25px;
          color: gray;
    }
}
.list-md .item-block .item-inner{
    border-bottom: none;
}

[dir="rtl"] .item-md {
    padding-right: 0px !important;
    padding-left: 0;
}
}
