// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shacrimson Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$tabs-md-tab-icon-color:crimson;

.toolbar-ios ion-title{
  padding: 5px ;
}

.button{
    text-transform: none;
}
.toolbar-title-md{
  text-align: center;
  //font-size: 0.7em;
}
.toolbar-title{
   span{
     color: crimson;
     padding-right: 30px;
   }

 .back-button-md{
     margin-left: 0;
     margin-right: 0;
 }
.tabs .active{
    background:crimson;
}
.list-ios .item-block .item-inner{
   border-bottom: none !important;
}
.item-ios.item-block .item-inner{
  border-bottom: none !important;
}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  color: crimson;
}

$tabs-md-tab-text-color-active:crimson;


}
