
<ion-header>
  <ion-navbar>
    <ion-title class="ti">{{ 'Other Offer' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <div *ngFor="let product of relatedProduct" (click)="viewProduct(product.ProductID)">
      <ion-row>
        <ion-col col-3>
          <button ion-button round [style.background]="product.ColorHexa"></button>
          <img class="img" [src]="product.Image">
          
        </ion-col>
        <ion-col col-9>
          <h2 style="font-family: inherit; color: #4A4D4D;">{{product.product_name}} ,  <small>{{product.size}}</small></h2>
          <p style="font-size: 16px; color:gray;">{{product.ProductPrice}} {{ 'SAR' | translate}}</p>
          <ion-icon *ngFor="let icon of icons(product.Rate); let i = index" style="color:orange" [name]="icon">
          </ion-icon>
        </ion-col>
      </ion-row>
      <hr>
    </div>
  </ion-list>
</ion-content>
