page-details {
  .content{
        background-color: #f0f9f7;
  }
.slider{
    height:150px;
    background-color: #f0f9f7;
   
}
.style{
    font-size:160%;
    color:gray;
    text-align: center; 
}
.iconcolor{
    color: #FACC2E;
    text-align: center; 
    font-size:160%;
}
.btna{
  width: 50%;
  float: left;
    
}
.align{
    text-align: center;
     background-color: #f0f9f7;
   }
.hot{
    position: absolute;
    left: 49%;
    top: 1%;
    width: 30px;
    height: 30px;
    z-index: 2;
    border: 3px;
}
.addtocar{
    height: 50px;
    float: right;
    background-color: #FF0080;
}
.btn1{
    width: 50px;
    height: 50px;
}
.btn2{
    width: 50px;
    height: 50px;
}
.btn3{
    width: 90%;
    height: 50px;
    margin-left: auto;
margin-right: auto;
margin-left: auto; 
background-color: transparent;
}
}