<ion-header>
  <ion-navbar>
    <ion-title>{{ 'Order Details' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <div *ngFor="let product of orderDetails">
      <ion-row >
        <ion-col col-4>
          <!--<button class="btn" ion-button round [style.background]="product.ColorHexa"></button>-->
          <img class="img" [src]="product.Image">
        </ion-col>
        <ion-col col-8 >


          <h2 style="font-family: inherit; color: #4A4D4D;">{{product.product_name}} , <small>  {{product.size}} </small></h2>
          <ion-row>
            <ion-col col-6>
              <p style="font-size: 16px; color:red;">
                {{ product.ItemsQTY * product.ProductPrice}} {{ 'SAR' | translate}}</p>

            </ion-col>
            <ion-col col-6>
              <p class="shipping">{{ 'Shipping' | translate}} :  {{product.Shiping}} {{ 'SAR' | translate}} </p>
            </ion-col>
          </ion-row>



          <ion-item style="background-color: inherit;">
            {{ product.ItemsQTY }}  {{ 'QTY' | translate }}
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col col-3>
        </ion-col>
        <ion-col col-6 style="font-size: xx-large;">
          <ion-icon *ngFor="let icon of icons(product.Rate); let i = index;" style="color:orange" [name]="icon"
          (click)="customerRate(product.ProductID,i+1)"
          ></ion-icon>
        </ion-col>
        <ion-col col-3>
        </ion-col>
      </ion-row>

      <hr>
    </div>
  </ion-list>
</ion-content>
